# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\study\git\vincent_daily\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
